<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Editar Tarefa</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="container">
    <h1 class="title">Editar Tarefa</h1>

    <div class="card">
      <form method="POST">
        <input type="text" name="descricao" value="{{ tarefa.descricao }}" required>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancelar</a>
      </form>
    </div>
  </div>
</body>

</html>